/*
div {
  outline: solid 0.5px #ccc;
  margin: 0.25em;
  padding: 0.1em;
}
.object { outline: solid 0.5px red;}
.property {outline: solid 0.5px green;}
*/

.object {
  font-family: "SF Mono", "Consolas", monospace;
  line-height: 1.45;
}

.property {
  margin: 0.5em 0;
}

.property .object {
  margin-left: 1em;
}

.property .name {
  border-radius: 0.5em;
  padding: 0.25em;
  background: #eee;
  color: #333;
}

.property.is-overridden .name {
  color: red;
}

.property .instance-of {
  font-style: italic;
  color: #ccc;
}

.property .override-of {
  color: blue;
}
.property .override-of::before {
  content: '(';
}
.property .override-of::after {
  content: ')';
}