/**/
div {
  /*outline: solid 0.5px #ccc;*/
  margin: 0.5em;
  padding: 0.5em;
}

.object { background: orange; }
.properties { background: rosybrown; }
.property { background: mediumpurple; }
.prototype { background: lightyellow; }
/**/

.object {
  font-family: "SF Mono", "Consolas", monospace;
  line-height: 1.45;
}

.property {
}

.property .object {
  margin-left: 1em;
}

.property .name {
  border-radius: 0.5em;
  padding: 0.25em;
  background: #eee;
  color: #333;
}

.property.is-overridden .name {
  text-decoration: line-through;
}

.object > .instance-of,
.property > .instance-of
 {
  font-style: italic;
}

.property .override-of {
}
.property .override-of::before {
  content: '(';
}
.property .override-of::after {
  content: ')';
}

.property .from {
}
.property .from::before {
  content: '(';
}
.property .from::after {
  content: ')';
}